div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      form.form-inline
        .form-group
          label(for='rainbowCount')
            | &nbsp;
          input#rainbowCount.form-control(type='number', min='1', max='16' ng-model='vm.rainbowCount')
        | &nbsp;
        button.btn.btn-primary(ngf-select='', ng-model='vm.files') 上传图片
        | &nbsp;显示颜色数值：
        input(type='checkbox', ng-model='vm.shouldShowValue')
  .row
    .col-lg-6
      img(width='100%', ngf-src='vm.files[0]')
    .col-lg-6
      div(ng-repeat='rainbow in vm.rainbows', style='background: {{rainbow}}; height: 48px; margin: 10px;')
        span(ng-show='vm.shouldShowValue') {{rainbow}}

//footer.footer
//  .container
//    p
//      | Angular Fullstack v2.0.13
//      = ' | '
//      a(href='https://twitter.com/tyhenkel') @tyhenkel
//      = ' | '
//      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
